# MONGODB

apiVersion: v1
kind: Service
metadata:
  name: channel-mongo-service
  labels:
    app: channel-mongo
spec:
  type: ClusterIP
  selector:
    app: channel-mongo
  ports:
    - protocol: TCP
      port: 27017
      targetPort: 27017
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: channel-mongo-deployment
  labels:
    app: channel-mongo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: channel-mongo
  template:
    metadata:
      labels:
        app: channel-mongo
    spec:
      containers:
        - name: mongo
          image: mongo:8.2
          ports:
            - containerPort: 27017
          volumeMounts:
            - name: mongo-persistent-storage
              mountPath: /data/db
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
      volumes:
        - name: mongo-persistent-storage
          persistentVolumeClaim:
            claimName: channel-mongo-pvc
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: channel-mongo-pvc
  labels:
    app: channel-mongo
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---

# RABBITMQ

apiVersion: v1
kind: Service
metadata:
  name: message-broker-service
  labels:
    app: message-broker
spec:
  type: ClusterIP
  selector:
    app: message-broker
  ports:
    - name: amqp
      protocol: TCP
      port: 5672
      targetPort: 5672
    - name: management
      protocol: TCP
      port: 15672
      targetPort: 15672
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: message-broker-deployment
  labels:
    app: message-broker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: message-broker
  template:
    metadata:
      labels:
        app: message-broker
    spec:
      containers:
        - name: message-broker
          image: rabbitmq:3-management-alpine
          ports:
            - containerPort: 5672
            - containerPort: 15672
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
---

# FASTAPI

apiVersion: v1
kind: ConfigMap
metadata:
  name: channel-api-configmap
  labels:
    app: channel-api
data:
  MONGO_URL: "mongodb://channel-mongo-service:27017"
  MONGO_DB_NAME: "channel_service_db"
  RABBITMQ_URL: "amqp://guest:guest@message-broker-service:5672/"
  RABBITMQ_MAIN_EXCHANGE: "channel_service_exchange"
  RABBITMQ_MAIN_QUEUE: "channel_service_queue"
  RABBITMQ_DLX: "dlx_exchange"
  RABBITMQ_DLQ: "dlq_queue"
  RABBITMQ_MAX_RETRIES: "20"
  RABBITMQ_RETRY_DELAY: "5"
---
apiVersion: v1
kind: Service
metadata:
  name: channel-api-service
  labels:
    app: channel-api
spec:
  type: LoadBalancer
  selector:
    app: channel-api
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: channel-api-deployment
  labels:
    app: channel-api
spec:
  selector:
    matchLabels:
      app: channel-api
  template:
    metadata:
      labels:
        app: channel-api
    spec:
      containers:
        - name: api
          image: ghcr.io/moxwel/utfsm-arquisw-tareafinal:latest
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: channel-api-configmap
          startupProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10 # Equivalente a start_period
            periodSeconds: 5
            failureThreshold: 12 # 10s + (12 * 5s) = 70s para arrancar
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            periodSeconds: 30 # Equivalente a interval
            timeoutSeconds: 5 # Equivalente a timeout
            failureThreshold: 5 # Equivalente a retries
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: channel-api-hpa
  labels:
    app: channel-api
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: channel-api-deployment
  minReplicas: 3
  maxReplicas: 10
  targetCPUUtilizationPercentage: 50
