apiVersion: v1
kind: ConfigMap
metadata:
  name: channel-api-configmap
  labels:
    app: channel-api
data:
  MONGO_URL: "mongodb://channel-mongo-service:27017"
  MONGO_DB_NAME: "channel_service_db"
  RABBITMQ_URL: "amqp://guest:guest@message-broker:5672/"
  RABBITMQ_MAIN_EXCHANGE: "channel_service_exchange"
  RABBITMQ_MAIN_QUEUE: "channel_service_queue"
  RABBITMQ_DLX: "dlx_exchange"
  RABBITMQ_DLQ: "dlq_queue"
  RABBITMQ_MAX_RETRIES: "20"
  RABBITMQ_RETRY_DELAY: "5"
---
apiVersion: v1
kind: Service
metadata:
  name: channel-api-service
  labels:
    app: channel-api
spec:
  type: ClusterIP
  selector:
    app: channel-api
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: channel-api-deployment
  labels:
    app: channel-api
spec:
  selector:
    matchLabels:
      app: channel-api
  template:
    metadata:
      labels:
        app: channel-api
    spec:
      containers:
        - name: api
          image: ghcr.io/moxwel/utfsm-arquisw-tareafinal:latest
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: channel-api-configmap
          startupProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10 # Equivalente a start_period
            periodSeconds: 5
            failureThreshold: 12 # 10s + (12 * 5s) = 70s para arrancar
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            periodSeconds: 30 # Equivalente a interval
            timeoutSeconds: 5 # Equivalente a timeout
            failureThreshold: 5 # Equivalente a retries
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: channel-api-hpa
  labels:
    app: channel-api
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: channel-api-deployment
  minReplicas: 3
  maxReplicas: 10
  targetCPUUtilizationPercentage: 50
