apiVersion: v1
kind: Service
metadata:
  name: channel-mongo-service
  labels:
    app: channel-mongo
spec:
  type: ClusterIP
  clusterIP: None
  selector:
    app: channel-mongo
  ports:
    - protocol: TCP
      port: 27017
      targetPort: 27017
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: channel-mongo-statefulset
  labels:
    app: channel-mongo
spec:
  serviceName: channel-mongo-service
  replicas: 1
  selector:
    matchLabels:
      app: channel-mongo
  template:
    metadata:
      labels:
        app: channel-mongo
    spec:
      containers:
        - name: mongo
          image: mongo:8.2
          ports:
            - containerPort: 27017
          volumeMounts:
            - name: mongo-persistent-storage
              mountPath: /data/db
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
  volumeClaimTemplates:
    - metadata:
        name: mongo-persistent-storage
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 1Gi
